.classpath
.project
rscd.jar
moparclassic.jar
ls.jar
*.ipr
*.iws
*.iml
*.class
bin
build
.*
!.gitignore
!.gitmodules
!.gitkeep
!.gitattributes
lib_managed
doc
LoginServer/players
LoginServer/logs
GameServer/logs