<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>MoparClassic-LS Config</comment>
	<entry key="mysqlhost">localhost</entry>
	<entry key="mysqldb">moparclassic</entry>
	<entry key="mysqluser">mc</entry>
	<entry key="mysqlpass"></entry>
	<entry key="lsip">localhost</entry>
	<entry key="lsport">34526</entry>
	<entry key="queryip">localhost</entry>
	<entry key="queryport">8186</entry>
	<entry key="storage-medium">org.moparscape.msc.ls.persistence.impl.JSONStorageMedium</entry>
	<entry key="auth-class">org.moparscape.msc.ls.auth.impl.PersistenceAuth</entry>
	<entry key="auth-meta-data"></entry>
	<entry key="allow-multilogging">true</entry>
	<entry key="cache-saves">false</entry>
</properties>
